name: Deploy
on:
  push:
    branches:
      - main
jobs:
  build:
    name: Run WEb App
    runs-on: ubuntu-latest
    steps:
      - name: Build Web App
        run: |
          echo "Build Web App"
          sleep 10s
      - uses: convictional/trigger-workflow-and-wait@v1.6.1
        with:
          owner: nasrinaria
          repo: demo-backend
          github_token: ${{ secrets.G_ACCESS_TOKEN }}
          workflow_file_name: master.yml
          ref: main
      - name: Deploy Wen App
        run: |
            echo "Deploy Web App"
            sleep 10s


